# Visual Studio has a nasty habit of creating .vs directories
.vs/

# Visual Studio Code has a nasty habit of creating .vscode directories
.vscode/

# don't include build directories
/build/
bin/
obj/
